

/*about us */


@media only screen and (max-width: 760px) {
    .wrapper {
        margin: auto;
        max-width: 361px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:-9px;
    }
    .unit {
        margin-left: -5px;
    }

    .faculties {
        display:flex;
        flex-direction:column;

    }

}


/*blog*/

@media only screen and (max-width: 760px) {

    .card-blog {
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 14px 20px;
        align-items: center;
        width: 300px;
    }
    .img-blog {
        margin-right: 93px;
        margin-top: 10px;
        width: 200px;
        max-height: 163px;
        margin-bottom: 24px;
    }

}



/*contact*/

@media only screen and (max-width: 760px) {

    .screen-body{
        display:flex;
        flex-direction:column;
    }
    .app-contact{
        padding:20px
    }


}

@media only screen and (max-width: 1680px) {

}