*{
    transition:all ease 0.2s;
    font-family:"Poppin", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Sans Serif Collection'
}

.btn_17 {
    border: 1px solid  #000;
    border-radius: 100px;
    padding: 18px;
    width:200px;
    font-size:1.4rem;
    color:#000
}
    .btn_17:hover {
        background-color: rgb(89, 118, 77);
        color: #fff;
        border-color: rgb(89, 118, 77);
    }


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Roboto" !important;
}

.btn_product {
    display: block;
    overflow: hidden;
    font-size: 13px;
    color: #59764d;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #59764d;
}
    .btn_product:hover {
        background-color: #59764d;
    }