@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DiChoSaiGon.Models.TinDang>


@section HeadStyles {
    <style>
      
       
        .img-blog {
            background: #ebebeb;
            border-radius: 15px;
            color: #757575;
            display: block;
            font-size: 1.4rem;
            line-height: 1.8;
            max-height: 120px;
            object-fit: cover;
            overflow: hidden;
            text-align: center;
            width: 3700px;
            padding-left: 6px;
        }
        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            margin-left: 10px;
        }

        /* Right column */
        .rightcolumn {
            float: right;
            width: 25%;
            padding-left: 20px;
        }


        /* Add a card effect for articles */
        .card {
            border: 2px solid #e8e8e8;
            border-radius: 16px;
            padding: 24px;
            display: flex;
            flex-direction: row-reverse;
            margin: 14px 20px;
            align-items: center;
            width: 900px;
        }

        .title-blog {
            color: #292929;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 0;
            margin-top: 8px;
        }

        p {
            color: #505050;
            font-size: 18px;
            line-height: 1.6;
            margin-top: 4px;
        }

        h2 {
            color: #242424;
            font-size: 2rem;
            font-weight: 900;
            padding: 16px;
        }


        .blog-container {
            display: flex;
            flex-direction: row;
            flex-basis: 50%;
        }

        .content-blog {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .about {
            width: 400px;
            height: 300px;
            margin-left: 300px;
        }

        div.rightcolumn {
            overflow: hidden
        }
    </style>
}


<div class="breadcrumb-area breadcrumb-height mt-n20" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
    <div class="container h-100 mt-n10">
        <div class="row h-100 mt-n10">
            <div class="col-lg-12 ">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading"> Blog </h2>
                    <ul>
                        <li>
                            <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li> Blog </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header mt-n10">
    <h2>Bài viết nổi bật</h2>
</div>

<div class=" blog-container">
    <div class="leftcolumn">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                string url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                <a href="@url">
                    <div class="card card-blog">
                        <div> <img src="~/images/news/@item.Thumb" alt="@item.Title" class="img-blog"></div>
                        <div>
                            <h4 class="title-blog">@item.Title</h4>
                            <p class="content-blog">@item.Contents</p>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
    <div class="rightcolumn">
        <div class="about">
            <h2>About Us</h2>
            <img src="~/assets/images/Minhthu/logo.jpg">
            <p>Kinh doanh quần áo thời trang nam là xu hướng được nhiều shop lựa chọn hiện nay bởi nhu cầu thị trường cao, cho doanh số lớn. Tuy nhiên, không phải ai cũng thực sự thành công khi dấn thân vào con đường này</p>
        </div>
    </div>
</div>