@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DiChoSaiGon.Models.TinDang>


@section HeadStyles {
    <style>

        .img-blog {
            background: #ebebeb;
            border-radius: 15px;
            color: #757575;
            display: block;
            font-size: 1.4rem;
            line-height: 1.8;
            max-height: 120px;
            object-fit: cover;
            overflow: hidden;
            text-align: center;
            width: 550px;
            padding-left:6px;
           
        }
        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            width: 60%;
            margin-left:10px;
        }

        /* Right column */
        .rightcolumn {
            width: 40%;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            border: 2px solid #e8e8e8;
            border-radius: 16px;
            padding: 24px;
            display: flex;
            flex-direction: row-reverse;
            margin: 14px 20px;
            align-items: center;
        }
        .title-blog {
            color: #292929;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 0;
            margin-top: 8px;
        }
        p {
            color: #505050;
            font-size: 18px;
            line-height: 1.6;
            margin-top: 4px;
        }
        h2 {
            color: #242424;
            font-size: 2rem;
            font-weight: 900;
            padding:16px;

        }

        .blog-container {
            display: flex;
            flex-direction: row;
        }

        .content-blog {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

    </style>
}




    <div class="header">
        <h2>Bài viết nổi bật</h2>
    </div>

    <div class="row blog-container">
        <div class="leftcolumn">
            @if (Model != null && Model.Count() > 0 )
            {
                foreach (var item in Model)
                {
                    string url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                    <div class="card">
                        <img src="~/images/news/@item.Thumb" alt="@item.Title" class="img-blog">
                        <div>
                            <h4 class="title-blog">@item.Title</h4>
                            <p class="content-blog">@item.Contents</p>
                        </div>
                    </div>
                }
            }
        </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <img src="cũng hay" alt="" width="180px" height="100px">
            <p> Xu hướng mới</p>
            <img src="ok" alt="" width="180px" height="100px">
            <p> Những thay đổi của ngành thời trang trong những năm qua</p>
            <img src="áo" alt="" width="180px" height="100px">
            <p> Bạn nên biết điều này</p>
        </div>
    </div>
    </div>
