/*@media (max-width: 768px) {
    footer {
        padding: 5px;
    }

        footer .container {
            flex-direction: column;
        }

            footer .container .noi-dung {
                margin-right: 0;
                margin-bottom: 40px;
            }

}
*/