@model List<DiChoSaiGon.ModelViews.CartItem>




    @if (Model != null && Model.Count() > 0)
    {
        <li class="minicart-wrap me-3 me-lg-0 ">
        <a href="#miniCart" class="minicart-btn toolbar-btn" style="font-size:20px; color:#fff">
                <i class="pe-7s-shopbag"></i>
                <span class="quantity">@Model.Count()</span>
            </a>
        </li>
    }
    else
    {
        <li class="list-none ml-4 minicart-wrap me-3 me-lg-0">
            <a href="#miniCart" class="toolbar-btn text-[20px] text-white">
                <i class="pe-7s-shopbag"></i>
                <span class="quantity">0</span>
            </a>
        </li>
    }